<script>
$(document).ready(function() {
$("form").hide();
});
</script>


<div id="new-project" class="project-show">
<p id="notice"><%= notice %></p>

<div class="project-header">
  <div class="project-images">
    <div class="p-image" style="background-image: url('<%= @project.image.url%> ')">
    </div>
    <div class="p-user-avatar">
      <%# image_tag(@project.user.avatar) %>
      <!-- TODO: Make sure to change it back to the paperclip way -->
      <%= image_tag(@project.user.avatar_file_name) %>
    </div>
  </div>
  <div class="project-info">
    <div class="project-title">
      <%= @project.title %>
    </div>
    <div class="project-summary">
      <%= @project.summary %>
    </div>
    <div class="project-createdby">
      Created by <%= @project.user.full_name %>
    </div>
  </div>

</div>

<div class="project-body">
<br><br><br>
  <div class="project-body-title">
      About The Project
      <hr>
    </div>
<div class="project-body-text">
  <%= @project.content %>
</div>

<div class="project-body-section">
  <div class="project-body-title">
    <strong>Mentorship Requirements</strong>
  </div>
  <div class="project-body-text">
    <%= @project.mentorship_req %>
  </div>
  <div id="mentor-help">
    <div class="help-button">
      would you like to help?
    </div>
    <form id='form_m' class="project-join" action="add_mentor" method="POST">
      <input name="message" placeholder="add a message">
      <input type="hidden" name="user" value="<%= current_user.id %>">
      <input type="hidden" name="project" value="<%= @project.id %>">
      <input type="submit" value="JOIN" >
    </form>
    <div class="recent-joins">
    Recently Joined
    </div>
    <hr>
    <div class="project-usrs-cont">
      <% @project.project_mentors.each do |m| %>
        <div class="project-usr" id="members_group">
          <%= image_tag(m.user.avatar) %>
        </div>
      <% end %>
      <%= image_tag(current_user.avatar, :class=>'hide current_user') %>
      </div>
  </div>
</div>

<div class="project-body-section">
  <div class="project-body-title">
    <strong>Resource Requirements</strong>
  </div>
  <div class="project-body-text">
    <%= @project.resources_req %>
  </div>
  <div id="resources-help">
    <div class="help-button">
      would you like to help?
    </div>
    <form class="project-join" action="add_resource" method="POST">
      <input name="message" placeholder="add a message">
      <input type="hidden" name="user" value="<%= current_user.id %>">
      <input type="hidden" name="project" value="<%= @project.id %>">
      <input type="submit" value="JOIN" >
    </form>
  </div>
</div>


<div class="project-body-section">
  <div class="project-body-title">
    <strong>Services Requirements</strong>
  </div>
  <div class="project-body-text">
    <%= @project.services_req %>
  </div>
  <div id="services-help">
    <div class="help-button">
      would you like to help?
    </div>
    <form class="project-join" action="add_service" method="POST">
      <input name="message" placeholder="add a message">
      <input type="hidden" name="user" value="<%= current_user.id %>">
      <input type="hidden" name="project" value="<%= @project.id %>">
      <input type="submit" value="JOIN" >
    </form>
  </div>
</div>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>
</div>


<script>


$("#services-help .help-button").click(function(){
  $("#services-help form").slideToggle()
});

$("#resources-help .help-button").click(function(){
  $("#resources-help form").slideToggle()
});

$("#mentor-help .help-button").click(function(){
  $("#mentor-help form").slideToggle()
});
</script>
