<div id="new-project" class="project-show">
<p id="notice"><%= notice %></p>

<div class="project-header">
  <div class="project-images">
    <div class="p-image" style="background-image: url('<%= @project.image.url%> ')">
    </div>
    <div class="p-user-avatar">
      <%= image_tag(@project.user.avatar) %>
    </div>
  </div>
  <div class="project-title">
    <%= @project.title %>
  </div>
</div>

<p>
  <strong>Content:</strong><br>
  <%= @project.content %>
</p>

<p>
  <strong>Mentorship Requirements</strong><br>
  <%= @project.mentorship_req %>
</p>

<p>
  <strong>Resource Requirements</strong><br>
  <%= @project.resources_req %>
</p>

<p>
  <strong>Services Requirements</strong><br>
  <%= @project.services_req %>
</p>

<p>
  <strong>Published:</strong><br>
  <%= @project.published %>
</p>

<p>
  <strong>Approved:</strong><br>
  <%= @project.approved %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
</div>