<p id="notice"><%= notice %></p>


<div class="p-image" style="background: url('<%= @project.image.url%> ')">
      </div>
<div class="p-user-avatar">
  <%= image_tag(@project.user.avatar) %>
</div>

<style>
.p-user-avatar img {
  width: 100px;
}

.p-image {
  height:250px;
  width:250px;
  background-position: center
}
</style>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @project.summary %>
</p>

<p>
  <strong>Mentorship req:</strong>
  <%= @project.mentorship_req %>
</p>

<p>
  <strong>Resources req:</strong>
  <%= @project.resources_req %>
</p>

<p>
  <strong>Services req:</strong>
  <%= @project.services_req %>
</p>

<p>
  <strong>Published:</strong>
  <%= @project.published %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @project.approved %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
